body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:#f8fafc;
  line-height:1.9;
}

header{
  background:#020617;
  padding:25px;
  text-align:center;
}

nav{
  background:#020617;
  display:flex;
  gap:10px;
  padding:10px;
  overflow-x:auto;
}

nav a{
  background:#1e293b;
  padding:10px 15px;
  border-radius:999px;
  text-decoration:none;
  color:white;
}

nav a:hover{
  background:#38bdf8;
  color:black;
}

main{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

section{
  background:#111827;
  padding:25px;
  border-radius:18px;
  margin-bottom:30px;
}

h1,h2{color:#38bdf8;}
h3{color:#facc15;}

img{
  width:100%;
  border-radius:12px;
  margin-top:15px;
}